.menu-list{
    text-align: center;
}
.menu-item{
    display: inline;
    margin-right: 22px;
       
}
.menu-link{
    
    color: red;
    text-decoration: none;
    text-align: center;
    
}
.menu-item:last-child{
    margin-right: 0;
}


.center-img{
    display: block;
    margin: 0 auto;
    width: 1280;
    height: 789;
}
h2{
    text-align: center;
    text-transform: uppercase;

}
.text1and2{
    width: 1280px;
    margin: auto;
}
.text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    text-align: center;
    letter-spacing: 2.4px;
}
.text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    text-align: center;
    letter-spacing: 2.4px;
}
button{
    background-color: red;
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    width: 191px;
    height: 60px;
}
.footer{
    width: 1280px;
    margin: auto;
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal; 
    font-weight: 700;
    font-size: 16px;
    line-height: 20px
}